<div class="login">
  <p-panel class="login__panel">
    <ng-template pTemplate="header">
      <div class="flex grid justify-items-center w-full">
        <span class="grow font-bold">{{ 'LOGIN.TITLE' | translate }}</span>
      </div>
    </ng-template>

    <form [formGroup]="loginForm">
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            type="text"
            formControlName="email"
            class="w-full"
            [ngClass]="{ 'ng-invalid': emailControl?.invalid, 'ng-dirty': emailControl?.dirty }"
          />
          <label for="email">{{ 'LOGIN.FORM.EMAIL.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (emailControl?.invalid && emailControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'LOGIN.FORM.EMAIL.ERROR' | translate }}
          </small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <p-password
            id="password"
            type="text"
            formControlName="password"
            [feedback]="false"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': passwordControl?.invalid, 'ng-dirty': passwordControl?.dirty }"
          />
          <label for="password">{{ 'LOGIN.FORM.PASSWORD.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (passwordControl?.invalid && passwordControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'LOGIN.FORM.PASSWORD.ERROR' | translate }}
          </small>
        }
      </div>

      <div class="mt-4">
        <button
          pButton
          pRipple
          severity="primary"
          [disabled]="loginForm.invalid || isSubmitInProgress()"
          class="block w-full"
          (click)="submitForm()"
        >
          @if (isSubmitInProgress()) {
            <i class="pi pi-spin pi-spinner mr-1"></i>
          }
          <span pButtonLabel>{{ 'LOGIN.BUTTON.LOGIN' | translate }}</span>
        </button>
      </div>
      <div class="mt-2">
        <button pButton pRipple severity="secondary" class="block w-full" routerLink="/auth/signup">
          <span pButtonLabel>{{ 'LOGIN.BUTTON.SIGNUP' | translate }}</span>
        </button>
      </div>
    </form>
  </p-panel>
</div>
