<div class="trips h-full">
  <div class="grid place-items-center h-full w-full" *ngIf="isLoading; else loadedTrips">
    <p-progress-spinner />
  </div>

  <ng-template #loadedTrips>
    <div *ngIf="trips && trips.length > 0; else noTrips">
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        <app-trip-panel
          [trip]="trip"
          (click)="openTrip(trip)"
          *ngFor="let trip of trips"
          class="full-height grow hover:cursor-pointer"
        >
          <p-button icon="pi pi-trash" severity="secondary" text class="flex-none" (onClick)="removeTrip($event, trip)" />
        </app-trip-panel>
      </div>
    </div>

    <ng-template #noTrips>
      <div>
        <p-panel>
          <div class="grid place-items-center">
            <p>
              <span class="pi pi-map trips__logo"></span>
            </p>
            <p class="mt-2">No trips available.</p>
            <p class="mt-2">Please use <strong>New trip</strong> button to add new one.</p>
          </div>
        </p-panel>
      </div>
    </ng-template>

    <div class="mt-4">
      <button pButton pRipple severity="primary" size="large" class="block w-full" routerLink="/trips/add">
        <span pButtonLabel>New trip</span>
      </button>
    </div>
  </ng-template>

  <p-toast position="bottom-center" key="toast" />
</div>
