<div class="flex h-full w-full items-center justify-center">
  <div class="main flex flex-col h-screen w-full max-w-7xl xl:border-x">
    <!-- header -->
    <div>
      <p-toolbar>
        <ng-template #start>
          <p-button icon="pi pi-bars" text severity="secondary" (click)="toggleSidebar()" class="md:hidden" />
          <span class="hidden md:flex ml-2"><span class="pi pi-globe pr-2 main__logo"></span>{{ 'APP.TITLE' | translate }}</span>
        </ng-template>
        <ng-template #center>
          <span class="flex md:hidden"><span class="pi pi-globe pr-2 main__logo"></span>{{ 'APP.TITLE' | translate }}</span>
        </ng-template>
        <ng-template #end>
          <p-button icon="pi pi-palette" text severity="secondary" (click)="toggleDarkMode()" />
        </ng-template>
      </p-toolbar>
    </div>

    <!-- regular menu -->

    <div class="menu hidden md:block px-3">
      <div class="flex">
        <div>
          <p-button
            icon="pi pi-th-large"
            text
            severity="secondary"
            [link]="true"
            routerLink="/dashboard"
            [label]="'MENU.DASHBOARD' | translate"
          />
        </div>
        <div>
          <p-button
            icon="pi pi-map"
            text
            severity="secondary"
            [link]="true"
            routerLink="/trips"
            [label]="'MENU.TRIPS' | translate"
          />
        </div>
        <div class="grow flex justify-end">
          <p-button
            icon="pi pi-cog"
            text
            severity="secondary"
            [link]="true"
            routerLink="/settings"
            [label]="'MENU.SETTINGS' | translate"
          />
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="grow p-3 md:p-5">
      <router-outlet />
    </div>

    <!-- mobile menu -->
    <p-drawer [(visible)]="sidebarVisible" [header]="'MENU.TITLE' | translate" class="md:hidden">
      <div>
        <p-button
          icon="pi pi-th-large"
          text
          severity="secondary"
          [link]="true"
          routerLink="/dashboard"
          [label]="'MENU.DASHBOARD' | translate"
          (onClick)="toggleSidebar()"
        />
      </div>
      <div>
        <p-button
          icon="pi pi-map"
          text
          severity="secondary"
          [link]="true"
          routerLink="/trips"
          [label]="'MENU.TRIPS' | translate"
          (onClick)="toggleSidebar()"
        />
      </div>
      <div>
        <p-button
          icon="pi pi-cog"
          text
          severity="secondary"
          [link]="true"
          routerLink="/settings"
          [label]="'MENU.SETTINGS' | translate"
          (onClick)="toggleSidebar()"
        />
      </div>

      <ng-template #footer>
        <p-divider />
        <p-button icon="pi pi-flag-fill" text severity="secondary" label="EN" />
        <p-button icon="pi pi-flag" text severity="secondary" label="PL" />
      </ng-template>
    </p-drawer>
  </div>
</div>
