<p-panel>
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2 w-full">
      <span class="grow font-bold">{{ trip.name }}</span>
      <ng-content></ng-content>
    </div>
  </ng-template>
  <p class="m-0 text-xs">
    <span *ngIf="trip.location">{{ trip.location }}</span>
    <span *ngIf="trip.location && trip.startDate && trip.endDate" class="px-1">|</span>
    <span *ngIf="trip.startDate && trip.endDate">
      {{ trip.startDate | date: settings?.dateFormat }} - {{ trip.endDate | date: settings?.dateFormat }}
    </span>
  </p>
  <p class="m-0">
    {{ trip.description }}
  </p>
</p-panel>
