<div class="signup">
  <p-panel class="signup__panel">
    <ng-template pTemplate="header">
      <div class="flex grid justify-items-center w-full">
        <span class="grow font-bold">{{ 'SIGNUP.TITLE' | translate }}</span>
      </div>
    </ng-template>

    <div>
      <form [formGroup]="signupForm">
        <div class="mb-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="email"
              type="text"
              formControlName="email"
              class="w-full"
              [ngClass]="{ 'ng-invalid': emailControl?.invalid, 'ng-dirty': emailControl?.dirty }"
            />
            <label for="email">{{ 'SIGNUP.FORM.EMAIL.LABEL' | translate }}</label>
          </p-floatlabel>
          @if (emailControl?.invalid && emailControl?.dirty) {
            <small class="ml-1 text-error">
              {{ 'SIGNUP.FORM.EMAIL.ERROR' | translate }}
            </small>
          }
        </div>
        <div class="mb-3">
          <p-floatlabel variant="on">
            <p-password
              id="password"
              type="text"
              formControlName="password"
              autocomplete="off"
              class="block w-full"
              [ngClass]="{
                'ng-invalid': passwordControl?.dirty && passwordControl?.invalid,
                'ng-dirty': passwordControl?.dirty,
              }"
              (onBlur)="validateForm()"
            />
            <label for="password">{{ 'SIGNUP.FORM.PASSWORD.LABEL' | translate }}</label>
          </p-floatlabel>
          @if (passwordControl?.invalid && passwordControl?.dirty && passwordControl?.hasError('required')) {
            <small class="ml-1 text-error">
              {{ 'SIGNUP.FORM.PASSWORD.ERROR' | translate }}
            </small>
          }
        </div>
        <div class="mb-3">
          <p-floatlabel variant="on">
            <p-password
              id="passwordRepeat"
              type="text"
              formControlName="passwordRepeat"
              autocomplete="off"
              class="block w-full"
              [ngClass]="{
                'ng-invalid': passwordRepeatControl?.dirty && passwordRepeatControl?.invalid,
                'ng-dirty': passwordRepeatControl?.dirty,
              }"
              (onBlur)="validateForm()"
            />
            <label for="passwordRepeat">{{ 'SIGNUP.FORM.PASSWORD_REPEAT.LABEL' | translate }}</label>
          </p-floatlabel>
          @if (passwordRepeatControl?.invalid && passwordRepeatControl?.dirty) {
            <small class="block ml-1 text-error">
              @if (passwordRepeatControl?.hasError('required')) {
                {{ 'SIGNUP.FORM.PASSWORD_REPEAT.ERROR' | translate }}
              }
              @if (passwordRepeatControl?.hasError('valueMatch')) {
                {{ 'SIGNUP.FORM.PASSWORDS_NO_MATCH.ERROR' | translate }}
              }
            </small>
          }
        </div>
        <div class="mb-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="firstname"
              type="text"
              formControlName="firstname"
              class="block w-full"
              [ngClass]="{ 'ng-invalid': firstnameControl?.invalid, 'ng-dirty': firstnameControl?.dirty }"
            />
            <label for="firstname">{{ 'SIGNUP.FORM.FIRSTNAME.LABEL' | translate }}</label>
          </p-floatlabel>
          @if (firstnameControl?.invalid && firstnameControl?.dirty) {
            <small class="ml-1 text-error">
              {{ 'SIGNUP.FORM.FIRSTNAME.ERROR' | translate }}
            </small>
          }
        </div>
        <div class="mb-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="lastname"
              type="text"
              formControlName="lastname"
              class="block w-full"
              [ngClass]="{ 'ng-invalid': lastnameControl?.invalid, 'ng-dirty': lastnameControl?.dirty }"
            />
            <label for="lastname">{{ 'SIGNUP.FORM.LASTNAME.LABEL' | translate }}</label>
          </p-floatlabel>
          @if (lastnameControl?.invalid && lastnameControl?.dirty) {
            <small class="ml-1 text-error">
              {{ 'SIGNUP.FORM.LASTNAME.ERROR' | translate }}
            </small>
          }
        </div>
      </form>

      <div class="mt-4">
        <button
          pButton
          pRipple
          severity="primary"
          [disabled]="signupForm.invalid || isSubmitInProgress()"
          class="block w-full"
          (click)="submitForm()"
        >
          @if (isSubmitInProgress()) {
            <i class="pi pi-spin pi-spinner mr-1"></i>
          }
          <span pButtonLabel>{{ 'COMMON.BUTTON.SUBMIT' | translate }}</span>
        </button>
      </div>
      <div class="mt-2">
        <button pButton pRipple severity="secondary" class="block w-full" routerLink="/auth/login">
          <span pButtonLabel>{{ 'COMMON.BUTTON.BACK' | translate }}</span>
        </button>
      </div>
    </div>
  </p-panel>
</div>
