<div class="profile">
  <p-panel class="profile__panel block">
    <ng-template pTemplate="header">
      <div class="flex grid justify-items-center w-full">
        <span class="grow font-bold">{{ 'PROFILE.PROFILE.TITLE' | translate }}</span>
      </div>
    </ng-template>

    <form [formGroup]="profileForm">
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            type="text"
            formControlName="email"
            class="w-full"
            [ngClass]="{ 'ng-invalid': emailControl?.invalid, 'ng-dirty': emailControl?.dirty }"
          />
          <label for="email">{{ 'PROFILE.PROFILE.FORM.EMAIL.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (emailControl?.invalid && emailControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PROFILE.FORM.EMAIL.ERROR' | translate }}
          </small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="firstname"
            type="text"
            formControlName="firstname"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': firstnameControl?.invalid, 'ng-dirty': firstnameControl?.dirty }"
          />
          <label for="firstname">{{ 'PROFILE.PROFILE.FORM.FIRSTNAME.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (firstnameControl?.invalid && firstnameControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PROFILE.FORM.FIRSTNAME.ERROR' | translate }}
          </small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="lastname"
            type="text"
            formControlName="lastname"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': lastnameControl?.invalid, 'ng-dirty': lastnameControl?.dirty }"
          />
          <label for="lastname">{{ 'PROFILE.PROFILE.FORM.LASTNAME.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (lastnameControl?.invalid && lastnameControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PROFILE.FORM.LASTNAME.ERROR' | translate }}
          </small>
        }
      </div>

      <div class="mt-4">
        <button
          pButton
          pRipple
          severity="primary"
          [disabled]="profileForm.invalid || isSubmitInProgress()"
          class="block w-full"
          (click)="submitProfileForm()"
        >
          @if (isSubmitInProgress()) {
            <i class="pi pi-spin pi-spinner mr-1"></i>
          }
          <span pButtonLabel>{{ 'COMMON.BUTTON.SUBMIT' | translate }}</span>
        </button>
      </div>
    </form>
  </p-panel>

  <p-panel class="profile__panel block mt-4">
    <ng-template pTemplate="header">
      <div class="flex grid justify-items-center w-full">
        <span class="grow font-bold">{{ 'PROFILE.PASSWORD.TITLE' | translate }}</span>
      </div>
    </ng-template>

    <form [formGroup]="passwordForm">
      <div class="mb-3">
        <p-floatlabel variant="on">
          <p-password
            id="currentPassword"
            type="text"
            formControlName="currentPassword"
            autocomplete="off"
            [feedback]="false"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': currentPasswordControl?.invalid, 'ng-dirty': currentPasswordControl?.dirty }"
          />
          <label for="currentPassword">{{ 'PROFILE.PASSWORD.FORM.CURRENT_PASSWORD.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (currentPasswordControl?.invalid && currentPasswordControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PASSWORD.FORM.CURRENT_PASSWORD.ERROR' | translate }}
          </small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <p-password
            id="password"
            type="text"
            formControlName="password"
            autocomplete="off"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': passwordControl?.invalid, 'ng-dirty': passwordControl?.dirty }"
          />
          <label for="password">{{ 'PROFILE.PASSWORD.FORM.NEW_PASSWORD.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (passwordControl?.invalid && passwordControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PASSWORD.FORM.NEW_PASSWORD.ERROR' | translate }}
          </small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <p-password
            id="passwordRepeat"
            type="text"
            formControlName="passwordRepeat"
            autocomplete="off"
            class="block w-full"
            [ngClass]="{ 'ng-invalid': passwordRepeatControl?.invalid, 'ng-dirty': passwordRepeatControl?.dirty }"
          />
          <label for="passwordRepeat">{{ 'PROFILE.PASSWORD.FORM.NEW_PASSWORD_REPEAT.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (passwordRepeatControl?.invalid && passwordRepeatControl?.dirty) {
          <small class="ml-1 text-error">
            {{ 'PROFILE.PASSWORD.FORM.NEW_PASSWORD_REPEAT.ERROR' | translate }}
          </small>
        }
      </div>

      <div class="mt-4">
        <button
          pButton
          pRipple
          severity="primary"
          [disabled]="passwordForm.invalid || isSubmitInProgress()"
          class="block w-full"
          (click)="submitPasswordForm()"
        >
          @if (isSubmitInProgress()) {
            <i class="pi pi-spin pi-spinner mr-1"></i>
          }
          <span pButtonLabel>{{ 'COMMON.BUTTON.SUBMIT' | translate }}</span>
        </button>
      </div>
    </form>
  </p-panel>
</div>
