<div class="trip">
  <p-panel class="trip__panel">
    <ng-template pTemplate="header">
      <div class="flex grid justify-items-center w-full">
        <span class="grow font-bold">
          @if (!trip) {
            {{ 'TRIP.FORM.TITLE.ADD' | translate }}
          } @else {
            {{ 'TRIP.FORM.TITLE.UPDATE' | translate }}
          }
        </span>
      </div>
    </ng-template>

    <div [formGroup]="tripForm">
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="name"
            type="text"
            formControlName="name"
            class="w-full"
            [ngClass]="{ 'ng-invalid': nameControl?.invalid, 'ng-dirty': nameControl?.dirty }"
          />
          <label for="name">{{ 'TRIP.FORM.FORM.NAME.LABEL' | translate }}</label>
        </p-floatlabel>
        @if (nameControl?.invalid && nameControl?.dirty) {
          <small class="ml-1 trip__form-error">{{ 'TRIP.FORM.FORM.ERROR.NAME' | translate }}</small>
        }
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <input pInputText id="location" type="text" formControlName="location" class="w-full" />
          <label for="location">{{ 'TRIP.FORM.FORM.LOCATION.LABEL' | translate }}</label>
        </p-floatlabel>
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <textarea pTextarea id="description" rows="5" formControlName="description" class="w-full"></textarea>
          <label for="description">{{ 'TRIP.FORM.FORM.DESCRIPTION.LABEL' | translate }}</label>
        </p-floatlabel>
      </div>
      <div class="mb-3">
        <p-floatlabel variant="on">
          <p-datepicker
            id="date"
            formControlName="date"
            selectionMode="range"
            [readonlyInput]="true"
            showIcon
            class="trip__date block w-full"
          />
          <label for="date">{{ 'TRIP.FORM.FORM.DATE.LABEL' | translate }}</label>
        </p-floatlabel>
      </div>

      <div class="mt-4">
        <button
          pButton
          pRipple
          severity="primary"
          [disabled]="tripForm.invalid || isSubmitInProgress()"
          class="block w-full"
          (click)="submitTrip()"
        >
          @if (isSubmitInProgress()) {
            <i class="pi pi-spin pi-spinner mr-1"></i>
          }
          <span pButtonLabel>
            @if (!trip) {
              {{ 'COMMON.BUTTON.ADD' | translate }}
            } @else {
              {{ 'COMMON.BUTTON.UPDATE' | translate }}
            }
          </span>
        </button>
      </div>
      @if (trip(); as trip) {
        <div class="mt-2">
          <button pButton pRipple severity="secondary" class="block w-full" routerLink="/trips/{{ trip._id }}">
            <span pButtonLabel>{{ 'COMMON.BUTTON.BACK' | translate }}</span>
          </button>
        </div>
      }
    </div>
  </p-panel>

  <div class="mt-4">
    <button pButton pRipple severity="secondary" size="large" class="block w-full" routerLink="/trips">
      <span pButtonLabel>{{ 'COMMON.BUTTON.ALL_TRIPS' | translate }}</span>
    </button>
  </div>

  <p-toast position="bottom-center" key="toast" />
</div>
