@tailwind base;
@tailwind components;
@tailwind layout;
@tailwind sizing;
@tailwind spacing;
@tailwind typography;
@tailwind utilities;

@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.text-error {
  color: var(--p-red-400);
}

.p-toolbar {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

p-password {
  .p-inputwrapper,
  .p-password-input {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .full-height {
    .p-panel.p-component {
      height: 100% !important;
    }
  }
}
