@tailwind base;
@tailwind components;
@tailwind layout;
@tailwind sizing;
@tailwind spacing;
@tailwind typography;
@tailwind utilities;

@import "primeicons/primeicons.css";

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.p-toolbar {
  border-radius: 0 !important;
}

