<div class="trip">
  <div class="mb-4" *ngIf="trip">
    <app-trip-panel [trip]="trip">
      <ng-template #headerIcon>
        <p-button icon="pi pi-sliders-v" severity="secondary" text class="flex-none" routerLink="/trips/update/{{ trip.id }}" />
      </ng-template>
    </app-trip-panel>
  </div>

  <div>
    <p-panel class="trip__panel">
      <ng-template pTemplate="header">
        <div class="flex items-center gap-2 w-full">
          <span class="grow font-bold">Trip items</span>
          <p-button icon="pi pi-plus" severity="secondary" text class="flex-none" />
        </div>
      </ng-template>

      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-panel>
  </div>

  <div class="mt-4">
    <button pButton pRipple severity="secondary" size="large" class="block w-full" routerLink="/trips">
      <span pButtonLabel>All Trips</span>
    </button>
  </div>
</div>
