<div class="trip h-full">
  @if (isLoading()) {
    <div class="grid place-items-center h-full w-full">
      <p-progress-spinner />
    </div>
  } @else {
    @if (trip(); as trip) {
      <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
        <div>
          <app-trip-panel [trip]="trip">
            <p-button
              icon="pi pi-sliders-v"
              severity="secondary"
              text
              class="flex-none"
              routerLink="/trip/update/{{ trip._id }}"
            />
          </app-trip-panel>
        </div>

        <div>
          <app-trip-items [trip]="trip"></app-trip-items>
        </div>
      </div>
    } @else {
      <div>
        <p-panel>
          <div class="grid place-items-center">
            <p>
              <span class="pi pi-map trip__logo"></span>
            </p>
            <p class="mt-2">{{ 'TRIP.NO_TRIP' | translate }}</p>
          </div>
        </p-panel>
      </div>
    }

    <div class="mt-4">
      <button pButton pRipple severity="secondary" size="large" class="block w-full" routerLink="/trip">
        <span pButtonLabel>{{ 'COMMON.BUTTON.ALL_TRIPS' | translate }}</span>
      </button>
    </div>
  }

  <p-toast position="bottom-center" key="toast" />
</div>
